<nav class="header"> 
  <span id="app-header">
    <a class="navbar-brand" style="margin-top: auto; margin-bottom: auto; margin-left: 10px;">
        <img id="appLogo" [src]="imgSrc"
        (mouseover)="imgSrc = '../../assets/img/Hub@2x.png'"
        (mouseout)="imgSrc = '../../assets/img/Hub@2x.png'" style="width: 32px; height: auto;">
        <strong>&nbsp;Hub</strong>
    </a>
    <span id="app-select" *ngIf="shareCollection.selectedApp!=null" class="animated pulse"
      style="color:black;text-shadow: 0px 0px gray;cursor: pointer;margin-top: auto; margin-bottom: auto;"
      (click)="shareCollection.pinApp==false?(shareCollection.showApp=true):true;">
      <img [src]="shareCollection.selectedApp.icon" width="24" height="24">
      <span style="margin-left: 3px;opacity:.7;font-weight:bold;font-size:18px;text-transform: uppercase;">{{shareCollection.selectedApp.name}}</span>
    </span>
    <span id="div-status" style="width: 60%;margin:auto;opacity:0.5;position: absolute;right:20%;top:10px;">        
        <div class="row clearfix animated bounceIn">
            <div class="col-xs-6 col-sm-6 col-md-4">
                <div id="mchart1" class="librato-display-media" data-chart_id="10947801" data-duration="86400" data-source="file-transcoding*"></div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <div id="mchart7" class="librato-display-media" data-chart_id="10947801" data-duration="604800" data-source="file-transcoding*"></div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <div id="mchart30" class="librato-display-media" data-chart_id="10947801" data-duration="2592000" data-source="file-transcoding*"></div>
            </div>
        </div>                
    </span>
  </span>
  <span id="app-anchor">
    <span class="animated fadeIn" style="margin:auto;" title="Show Apps">
      <img style="display: none;" [class.show-app]="!shareCollection.pinApp" src="assets/img/app-list.png" width="32" height="32"
        (click)="shareCollection.pinApp=true;shareCollection.showApp=true">
      <img class="show-anchor" src="assets/img/app-list.png" width="32" height="32"
        (click)="shareCollection.showApp=!shareCollection.showApp">
      <span style="display: none;color:white;" [class.pin-app]="shareCollection.pinApp"
        (click)="shareCollection.pinApp=false;shareCollection.showApp=false;">&#10005;</span>
    </span>
  </span>
</nav>
