.navbar {
    border-radius: 0px!important;
    background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(189,213,219,1) 50%, rgba(255,255,255,1) 78%, rgba(255,255,255,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(25%, rgba(255,255,255,1)), color-stop(50%, rgba(189,213,219,1)), color-stop(78%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
    background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(189,213,219,1) 50%, rgba(255,255,255,1) 78%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(189,213,219,1) 50%, rgba(255,255,255,1) 78%, rgba(255,255,255,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(189,213,219,1) 50%, rgba(255,255,255,1) 78%, rgba(255,255,255,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF',GradientType=1 ); /* ie6-9 */
}
#app-select {
    position: fixed;
    left: 120px;
}
#app-anchor {
    width: 5%;
    display:inline-flex;
    justify-content: center;
    position: fixed;
    top: 15px;
    cursor: pointer;
}
.show-anchor {
    display: none;
}
.pin-app {
    display: block!important;
    font-size: 26px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}
.show-app {
    display: block!important;
    opacity: 1;
    animation-delay: .5s;
}
@media screen and (max-width:  768px) {
    #app-anchor {
        right: 10px;
    }
    .show-anchor {
        display: block;
        opacity: 1;
        animation-delay: .5s;
        cursor: pointer;
    }
    .show-app {
        display: none!important;
    }
    .pin-app {
        display: none!important;
    }
}