.navbar {
    border-radius: 0px!important;
    background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(189,213,219,1) 50%, rgba(255,255,255,1) 78%, rgba(255,255,255,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(25%, rgba(255,255,255,1)), color-stop(50%, rgba(189,213,219,1)), color-stop(78%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(189,213,219,1) 50%, rgba(255,255,255,1) 78%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(189,213,219,1) 50%, rgba(255,255,255,1) 78%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(189,213,219,1) 50%, rgba(255,255,255,1) 78%, rgba(255,255,255,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(189,213,219,1) 50%, rgba(255,255,255,1) 78%, rgba(255,255,255,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF',GradientType=1 ); /* ie6-9 */
}

.app-anchor {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    font-weight: bolder;
}
.app-anchor > #app-list, #app-pin  {
    opacity: .5;
    animation-delay: .5s;
}
.app-anchor > #app-pin {
    position: absolute;
    margin-top: 25px;
    right: 20px;
}

@media screen and (max-width:  768px) {
    .app-anchor  {
        display: none;
    }
}