<footer class="footer navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="footer-link-container">
    <!--
    <a style="position:absolute;top:-22px;right:10px;font-size:12px;"
      href>CableOS Information</a>
    -->
    <div class="app-status">
      <span style="color:gray">Current app</span>
      <span *ngIf="shareCollection.selectedApp!=null">
        <span class="app-title">&nbsp;{{shareCollection.selectedApp.name}}</span>
        <span class="app-description">&nbsp;&#8722;&nbsp;{{shareCollection.selectedApp.description}}</span>
      </span>
    </div>
  </div>
  
  <div class="footer-link-container row">
      <div class="col-md-5">
        <h5 class="footer-label">Looking for Something?</h5>
        <div class="search-container-footer">
          <form role="search" method="get" class="search-form form-single-field" action="https://www.harmonicinc.com/search/">
            <label class="">
              <span class="screen-reader-text">Search Harmonic.com</span>
              <input type="search" style="min-width: 220px;" placeholder="Search Harmonic.com" value="" name="q">
            </label>
            <input type="submit" class="search-submit" value="Search">
          </form>
        </div>
        <div class="footer-link-container">
          <h6 style="color: white;">Get Help</h6>
          <div class="menu-footer-links-container">
            <ul class="menu-footer-links">
              <li class="menu-item help"><a href="https://www.harmonicinc.com/service-support/support/">Support</a></li>
              <li class="menu-item help"><a href="https://www.harmonicinc.com/service-support/support/">Report an Issue</a></li>
              <li class="menu-item help"><a href="https://www.harmonicinc.com/service-support/support/">Document Library</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <h5 class="footer-label">Connect with Us</h5>
        <div class="row">
          <div class="col-md-6">
            <span class="btn btn-md btn-quote"><a href="https://www.harmonicinc.com/about/contact/">Get a Quote</a></span>
            <div style="margin-top: 20px;margin-bottom: 30px;">
              <h6 class="" style="color: white;">Socialize</h6>
              <ul class="social-media__list" itemscope="" itemtype="http://schema.org/Organization">
                <link itemprop="url" href="https://www.harmonicinc.com">
                <li class="social-media__item"><a itemprop="sameAs" href="http://www.linkedin.com/company/harmonic" class="social-media__icon icon--linkedin" target="_blank">linkedin</a></li>          
                <li class="social-media__item"><a itemprop="sameAs" href="https://twitter.com/HarmonicInc" class="social-media__icon icon--twitter" target="_blank">twitter</a></li>          
                <li class="social-media__item"><a itemprop="sameAs" href="https://www.facebook.com/pages/Harmonic-Inc/146608178706562" class="social-media__icon icon--facebook" target="_blank">facebook</a></li>          
                <li class="social-media__item"><a itemprop="sameAs" href="http://www.youtube.com/user/HarmonicIncVideo" class="social-media__icon icon--youtube" target="_blank">youtube</a></li>          
                <li class="social-media__item"><a itemprop="sameAs" href="https://plus.google.com/104750110875076285290" class="social-media__icon icon--googleplus" target="_blank">googleplus</a></li>          
                <li class="social-media__item"><a itemprop="sameAs" href="https://www.instagram.com/harmonic_inc/?hl=en" class="social-media__icon icon--instagram" target="_blank">instagram</a></li>      
              </ul>
            </div>
          </div>
          <div class="col-md-6" style="margin-top: 30px;">
            <h6 class="" style="color: white;">Don’t Miss a Thing</h6>
            <p style="font-size: 14px;">Keep informed on the latest video delivery infrastructure best practices and trends.</p>
            <iframe src="https://go.pardot.com/l/63742/2016-07-29/8tkqyp" width="100%" height="124" type="text/html" frameborder="0" allowtransparency="true" style="border: 0" class="pardot-form pardot-form--newsletter" scrolling="no"></iframe>
          </div>
        </div>
      </div>
  </div>
  
  <div class="footer-link-container" style="text-align: center;">
    <span class="copyright">© 2018 Harmonic, Inc. All rights reserved worldwide.</span>
    <div class="menu-footer-links-container">
      <ul class="menu-footer-links">
        <li class="menu-item legal"><a href="https://www.harmonicinc.com/privacy-notice/">Privacy</a></li>
        <li class="menu-item legal"><a href="https://www.harmonicinc.com/legal/">Legal</a></li>
        <li class="menu-item legal"><a href="https://www.harmonicinc.com/about/contact/">Contact Us</a></li>
      </ul>
    </div>
  </div>
</footer>