.body { 
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.workspace-only >>>  app-workspace {
    width: 99%!important;
}
.workspace-app >>> app-workspace {
    width: 85%!important;
}
@media screen and (max-width:  768px) {
    .workspace-app >>> app-workspace {
        width: 99%!important;
    }
}
