<div class="body"
  [class.workspace-only]="!shareCollection.showApp&&!shareCollection.pinApp"
  [class.workspace-app]="shareCollection.showApp||shareCollection.pinApp">
    
  <app-workspace (mouseenter)="hideApp()"></app-workspace>

  <div id="app-trigger" (mouseenter)="showApp()"></div>

  <div class="app-panel animated"
    [class.bounceInDown]="shareCollection.showApp||shareCollection.pinApp"
    [class.bounceOutUp]="!shareCollection.showApp&&!shareCollection.pinApp"
    [class.slideInLeft]="shareCollection.showApp||shareCollection.pinApp"
    [class.slideOutRight]="!shareCollection.showApp&&!shareCollection.pinApp"
    [class.app-panel-show]="shareCollection.showApp||shareCollection.pinApp"
    [class.app-panel-hide]="!shareCollection.showApp&&!shareCollection.pinApp">
    <app-panel></app-panel>
  </div>
</div>
  