.body { 
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.workspace-only >>>  app-workspace {
    width: 100%!important;
}
.workspace-app >>> app-workspace {
    width: 95%!important;
}
.app-panel {
    width: 100%;
    height:  80vh;
    overflow-y: scroll;
    box-sizing: content-box;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 5px;
    max-height: inherit;
    transition: width .5s;
    animation-duration: .5s;
    background-color: #323133;
}
.app-panel-show {
    width: 5%!important;
}
.app-panel-hide {
    width: 0%!important;
}
.app-panel.bounceInDown {
    animation-name: none;
}
.app-panel.bounceOutUp {
    animation-name: none;
}
.app-panel.slideInLeft {
    animation-name: slideInLeft!important;
}
.app-panel.slideOutRight {
    animation-name: slideOutRight!important;
}
@media screen and (max-width:  768px) {
    .workspace-app >>> app-workspace {
        width: 100%!important;
    }
    .app-panel-show {
        width: 100%!important;
    }
    .app-panel-hide {
        width: 0%!important;
    }
    .app-panel {
        position: fixed;
        top: 61px;
        transition: none!important;
        animation-duration: 1s;
    }
    .app-panel.slideInLeft {
        animation-name: none;
    }
    .app-panel.slideOutRight {
        animation-name: none;
    }
    .app-panel.bounceInDown {
        animation-name: bounceInDown!important;
    }
    .app-panel.slideOutRight {
        animation-name: bounceOutUp!important;
    }
}