.app-logo {
    width: 32px;
    height: auto;
    margin: 10px;
}
.app-logo.active {
    box-shadow: 0px 0px 20px 5px lightslategrey;
}
.app-tooltip {
    font-size: 12px;
    margin-top: 18px;
    min-width: 150px;
    opacity: 1;
}
.app-tooltip > .popover-header {
    background-color: #6c757d;
    color: white;
    font-size: 14px;
}

.app-tooltip > .arrow {
    margin-top: -26px!important;
}
.app-tooltip > .arrow:after, .arrow:before {
    border-left-color: #6c757d;
}