.app-logo {
    width: 32px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 1;
}
.app-logo:hover {
    opacity: .3;
}
.app-logo.active {
    box-shadow: 0px 0px 20px 5px lightslategrey;
}
.app-tooltip {
    font-size: 12px;
    margin-top: 18px;
    min-width: 150px;
    opacity: 1;
}
.app-tooltip > .popover-header {
    background-color: #6c757d;
    color: white;
    font-size: 14px;
}

.app-tooltip > .arrow {
    margin-top: -26px!important;
}
.app-tooltip.bs-popover-right > .arrow:after, .arrow:before {
    border-right-color: #6c757d;
}
.app-tooltip.bs-popover-left > .arrow:after, .arrow:before {
    border-left-color: #6c757d;
}
@media screen and (max-width:  768px) {
    .app-logo {
        width: 40px;
        height: auto;
        margin: 15px;
        display: inline-flex;
    }
}