:host {
    height: inherit;
    width: inherit;
    overflow-y: scroll;
    box-sizing: content-box; /* So the width will be 100% + 17px */
    text-align: center;
    max-height: inherit;
    min-height: inherit;
    transition: width 0.5s;
    display: flex;
    padding-top: 78px;
}
