<div #rightAppPanel class="app-panel animated bounceInRight" 
  (mouseover)="roll=true" (mouseout)="roll=false"
  [ngClass]="{'bounceInRight':shareCollection.showApp,'bounceOutRight':!shareCollection.showApp}">
  <button class="circle-top" [ngStyle]="{'display':(roll==true&&!isTop())?'':'none'}">
    <i class="up"></i>
  </button>
  <app-application *ngFor="let app of applications"
    [attr.id]="app.id"
    [app]="app"></app-application>
  <button class="circle-bottom" [ngStyle]="{'display':(roll==true&&!isBottom())?'':'none'}">
    <i class="down"></i>
  </button>
</div>
