<!--The content below is only a placeholder and can be replaced.-->
<app-header [shareCollection]="shareCollection"></app-header>

<div class="parent" [style.max-height.px]="height">
  <div class="d-none d-md-block d-lg-block d-xl-block" style="text-align:center;" [ngStyle]="{'width':shareCollection.showApp==true?'12%':'0%'}">
    <app-left-panel [shareCollection]="shareCollection"></app-left-panel>
  </div>
  <div [ngStyle]="{'width':shareCollection.showApp==true?'76%':'100%'}">
    <app-workspace></app-workspace>
  </div>
  <div class="d-none d-md-block d-lg-block d-xl-block" style="text-align:center;" [ngStyle]="{'width':shareCollection.showApp==true?'12%':'0%'}">
    <app-right-panel [shareCollection]="shareCollection"></app-right-panel>
  </div>
</div>

<app-footer></app-footer>
