<div id="appPanel">
  <!-- <button class="circle-top" [ngStyle]="{'display':isTop()?'':'none'}">
    <i class="up"></i>
  </button> -->
  <a>
      <img src="assets/img/logout.png"
        class="app-logo"
        ngbPopover="Logout" 
        triggers="mouseenter:mouseleave"
        placement="auto" container="body"
        popoverClass="app-tooltip">
  </a>
  <app-application *ngFor="let app of shareCollection.applications | applicationFilter:[{type:'Operation'}]"
    [attr.id]="app.id"
    [app]="app"></app-application>
  <hr style="width: 100%;">
  <app-application *ngFor="let app of shareCollection.applications | applicationFilter:[{type:'Tool'}]"
    [attr.id]="app.id"
    [app]="app"></app-application>
  <!-- <button class="circle-bottom" [ngStyle]="{'display':!isBottom()==true?'':'none'}">
    <i class="down"></i>
  </button> -->
</div>