<span #appGroup class="animated"
  [ngClass]="{'bounceIn':shareCollection.showApp,'bounceOut':!shareCollection.showApp}"
  style="animation-delay: .5s;">
  <span class="btn btn-sm" style="margin:5px;" 
    (click)="changeAppType('Operation')"
    [ngClass]="{'btn-success':shareCollection.shownAppType=='Operation','btn-secondary':shareCollection.shownAppType!='Operation'}"
    [ngStyle]="{'box-shadow':shareCollection.shownAppType=='Operation'?'1px 1px 1px 1px grey':''}">Operations</span>
  <span class="btn btn-sm" style="margin:5px;"
    (click)="changeAppType('Tool')"
    [ngClass]="{'btn-info':shareCollection.shownAppType=='Tool','btn-secondary':shareCollection.shownAppType!='Tool'}"
    [ngStyle]="{'box-shadow':shareCollection.shownAppType=='Tool'?'1px 1px 1px 1px grey':''}">Tools</span>
</span>
<span #appAnchor class="app-anchor animated" 
  style="animation-delay: .5s;"
  (click)="toggleApp()"
  [ngClass]="{'anchor-open fadeInLeft':shareCollection.showApp,'anchor-close fadeInRight':!shareCollection.showApp}">
  <span title="Show Apps">
    <img id="showApp" src="assets/img/app-list.png" width="32" height="32">
  </span>
  <span title="Hide Apps">
    <img id="hideApp" src="assets/img/hide.png" width="16" height="16">
  </span>
</span>
<div #appPanel class="app-panel animated" 
  style="animation-delay: .5s;"
  (mouseover)="roll=true" (mouseout)="roll=false"
  [ngStyle]="{'display':(!shareCollection.showApp||shareCollection.shownAppType==null)?'none':'block'}"
  [ngClass]="{'fadeIn':shareCollection.showApp&&shareCollection.shownAppType!=null}">
  <button class="circle-top oi oi-caret-top" [ngStyle]="{'display':(roll==true&&!isTop())?'inline':'none'}"></button>
  <app-application *ngFor="let app of mApplications[shareCollection.shownAppType]"
    [attr.id]="app.id"
    [app]="app"></app-application>
  <button class="circle-bottom oi oi-caret-bottom" [ngStyle]="{'display':(roll==true&&!isBottom())?'inline':'none'}"></button>
</div>