<div #appGroup>
  <span class="btn btn-sm" style="margin:5px;" 
    (click)="changeAppType('Operation')"
    [ngClass]="{'btn-success':shareCollection.shownAppType=='Operation','btn-secondary':shareCollection.shownAppType!='Operation'}"
    [ngStyle]="{'box-shadow':shareCollection.shownAppType=='Operation'?'2px 2px 2px 2px grey':''}">Operations</span>
  <span class="btn btn-sm" style="margin:5px;"
    (click)="changeAppType('Tool')"
    [ngClass]="{'btn-info':shareCollection.shownAppType=='Tool','btn-secondary':shareCollection.shownAppType!='Tool'}"
    [ngStyle]="{'box-shadow':shareCollection.shownAppType=='Tool'?'2px 2px 2px 2px grey':''}">Tools</span>
</div>
<span class="app-anchor" (click)="toggleApp()"
  [ngStyle]="{'margin-left':shareCollection.showApp==false?'-45px':'0px','top':shareCollection.showApp==false?'-70px':''}">
  <span *ngIf="shareCollection.showApp==false" class="oi oi-arrow-circle-left" title="Show Apps"></span>
  <span *ngIf="shareCollection.showApp==true" class="oi oi-arrow-circle-right" title="Hide Apps"></span>
</span>
<div #appPanel class="app-panel animated" 
  (mouseover)="roll=true" (mouseout)="roll=false"
  style="animation-delay: .3s;"
  [ngClass]="{'fadeIn':shareCollection.showApp,'fadeOut':!shareCollection.showApp}">
  <button class="circle-top" [ngStyle]="{'display':(roll==true&&!isTop())?'':'none'}">
    <i class="up"></i>
  </button>
  <app-application *ngFor="let app of applications"
    [attr.id]="app.id"
    [app]="app"></app-application>
  <button class="circle-bottom" [ngStyle]="{'display':(roll==true&&!isBottom())==true?'':'none'}">
    <i class="down"></i>
  </button>
</div>