.app-panel {
    width: 100%;
    height:  calc(100% - 140px);
    overflow-y: scroll;
    box-sizing: content-box; /* So the width will be 100% + 17px */
    text-align: center;
    padding-bottom: 100px;
    margin-top: 20px;
    padding-top: 20px;
}
.app-anchor {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    opacity: 1;
    border-color: transparent;
    cursor: pointer;
    top: 10px;
}
.app-anchor > .anchor-close {
    animation-delay: .5s;
}
.app-anchor > .anchor-open  {
    animation-delay: .5s;
}
.anchor-open > span > img {
    opacity: 0.5;
}
.anchor-close > img {
    margin-left: -55px!important;
    margin-top: 3px!important;
}